doctype html
html
	head
		title= pageTitle
		script(type="text/javascript", src="/static/jslib/underscore-1.6.0.min.js")
		script(type="text/javascript", src="/static/jslib/backbone-1.1.2.min.js")
		
	body
		h1 Hello Backbone.js
		